fastapi==0.135.2
uvicorn==0.42.0
sqlalchemy==2.0.48
psycopg2-binary==2.9.11
pydantic==2.12.5
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.22
python-dotenv==1.2.2
requests==2.33.0
reportlab==4.4.10
matplotlib==3.10.8
scikit-learn==1.8.0
pandas==3.0.1
numpy==2.4.4
plotly==6.6.0
schedule==1.2.2
groq
pgvector
sentence-transformers